.Loading {
    text-align: center;
    margin-top: 50px;
}

.notActive {
    padding: 5px;
    cursor: pointer;
}
.active {
    background-color: #eee;
}

.RulesCloud {
    width: 50%;
    text-align: center;
}